* {
    box-sizing: border-box;
}

body {
    background-image: url(images/Tiger_Fur_Print.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.popup-div {
    z-index: 2;
    background-color: #1B1212;
    color: linen;
    padding: 40px;
    margin: 200px auto;
    position: fixed;
    display: box;
    border: solid 3px linen;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    width: 70%;
    min-height: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.start-game-popup-title {
    width: 90%;
    margin: 0 auto;
}

.start-game-popup-title h1 {
    font-family: 'Smooch', cursive;
    font-size: 60pt;
    text-align: left;
    margin: 1% 10% 1% ;
    line-height: 1;
}

.start-title-span {
    color: #FFC600;
    display: block;
    margin: 0 0 7%;
    text-align: center;
    font-family: 'Imbue', serif;
    text-transform: uppercase;
    font-size: 120pt;
    transform: rotate(-1deg);
}

.start-game-popup h2, .start-game-popup h3 {
    text-align: center;
}

.start-game-popup h3 {
    color: #D98C00;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 16pt;
}

button {
    cursor: pointer;
    padding: 10px;
    font-family: 'Imbue', serif;
    text-transform: uppercase;
    font-size: 20pt;
    border: none;
}

button:hover {
    color: white;
    background-color: #FFC600;
    transition-duration: 0.1s;
    /* border: 1px outset #E5890A;  */
}

.start-game-popup button {
    min-width: 20%;
    font-size: 30pt;
    background-color: #FFC600;
    color: #1B1212;
    margin: 10px;
}

.start-game-popup button:hover {
    background-color: #E26A2C;
    color: #FBFF00;
    /* border: 1px inset #FFC600; */
}

/* .start-game-popup img {
    float: left;
    width: 40%;

} */

.hide {
    display: none;
    transition-duration: 1s;
}

.player1-win-popup, .player2-win-popup, .tie-popup {
    min-height: 20%;
}

.container-div {
    text-align: center;
}

.container-div.hide {
    display: none;
}

header {
    min-height: 70px;
    max-width: 800px;
    margin: 30px auto;
    padding: 30px 80px;
    background-color: #1B1212;
    transform: rotate(2deg);
    box-shadow: 10px 10px 10px #362419;
    color: linen;
    font-size: 40pt;
    line-height: 0.7;
    text-align: left;
}

.tictac-title-span {
    transform: rotate(-4deg);
    font-size: 45pt;
    font-family: 'Smooch', cursive;
    display: inline-block;
    padding-left: 20px;
}

.tk-title-span {
    display: block;
    color: #FFC600;
    font-size: 80pt;
    text-transform: uppercase;
    font-family: 'Imbue', serif;
    margin-right: 20px;
    text-align: right;
}

.script-font {
    font-family: 'Smooch', cursive;
}

.game-status-div {
    margin: 0 auto;
    background-color: linen;
    font-size: 14pt;
    text-align: center;
    width: 90%;
    padding: 15px;
    /* box-shadow: 5px 5px 5px #C19A6B; */
    /* ideally contents would flash?  */
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 30px 10px;
}

aside {
    font-size: 40pt;
    overflow: hidden;
}

/* aside.player1 {
    background-image: url(images/test-img.jpeg);
    background-position: 30% 40%;
} */

aside img {
    width: 100%;
    /* height: 100%; */
}

.player-name-div {
    background-color: linen;
    /* background-image: url(images/brush-stroke-banner-6.png);  */
    /* background-size: contain; */
    /* background-repeat:repeat-y; */
    /* background-size: cover; */
    /* color: #362419; */
    color: black;
    font-family: 'Imbue', serif;
    font-size: 25pt;
    padding: 5px;
    position: relative;
}

.player-name-span {
    display: block;
    font-family: 'Smooch', cursive;
    font-size: 45pt;
}

.player1 div {
    transform: rotate(-2deg);
}

.player1 div img {
    float: left;
    margin-left: 20px;
}

.player2 div {
    transform: rotate(2deg);
}

.player2 div img {
    float: right;
}


.player-name-div img {
    width: 20%;
    transform: rotate(2deg);
}

.player-name-div p {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 20pt;
}

.gameboard-div {
    text-align: center;
}

.game-grid {
    margin: 30px auto;
    max-width: 500px;
    background-color: linen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 7px 7px 10px #362419;
    overflow: hidden;
}

.grid-cell {
    outline: 3px solid black;
    aspect-ratio: 1;
    background-color: linen;
    padding: 20px;
    cursor: pointer;
    margin: 0;
}

.grid-cell:hover {
    background-color: #89CFF0;
    transition-duration: 5ms;
}

.grid-cell.occupied:hover {
    background-color: linen;
    cursor: auto;
}

.player1-cell {
    content: url(images/player1-token.png);
    width: 100%;
}

.player2-cell {
    content: url(images/player2-token.png);
    width: 100%;
}

.winning-combo {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: .3s ease;
    background-color: rgba(255, 164, 0, 0.7);
    overflow: hidden;
}

.grid-cell.occupied.winning-combo:hover {
    background-color: rgba(255, 164, 0, 0.7);
}

footer {
    min-height: 100px;
    background-color: #C04000;
    padding: 40px 10px 10px;
    font-size: 10pt;
    font-weight: 300;
    line-height: 2;
}

a {
    text-decoration: none;
    color: linen;
}

a:hover {
    color: #FFC600;
}

footer a {
    display: block;
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
	animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
}

.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out 1s both;
	animation: swirl-in-fwd 0.6s ease-out 1s both;
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-4 12:7:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
  }

@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
  

/* ----------------------------------------------
 * Generated by Animista on 2021-12-3 15:50:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
  }
@keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}
 
/* ----------------------------------------------
 * Generated by Animista on 2021-12-3 16:37:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
  }
/* media queries - stack  */
@media only screen and (max-width: 600px) {
    .start-game-popup-title h1 {
        font-size: 40pt;
        margin: 0;
    }
    .start-title-span {
        font-size: 70pt;
    }

}