* {
    box-sizing: border-box;
}

body {
    background-image: url(images/Tiger_Fur_Print.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.container-div {
    text-align: center;
}

.container-div.hide {
    display: none;
}

header {
    min-height: 100px;
    max-width: 800px;
    margin: 40px auto;
    padding: 30px 60px;
    background-color: #1B1212;
    transform: rotate(2deg);
    box-shadow: 10px 10px 10px #362419;
    color: linen;
    font-family: sans-serif;
    font-size: 40pt;
    line-height: 0.7;
    text-align: left;
}

.tiger-king-span {
    display: block;
    font-size: 80pt;
    text-transform: uppercase;
    font-family: 'Imbue', serif;
    margin-top: 20px;
    text-align: right;
}

.game-status-div {
    margin: 0 auto;
    background-color: linen;
    font-size: 14pt;
    text-align: center;
    width: 85%;
}

.restart-btn {

}

.popup-div {
    z-index: 2;
    background-color: mistyrose;
    padding: 40px;
    margin: 200px auto;
    position: fixed;
    display: box;
    width: 70%;
    height: 60%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.popup-div.hide {
    display: none;
}


main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.gameboard-div {
    text-align: center;
}

.game-grid {
    margin: 30px auto;
    max-width: 550px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: none;
}

.grid-cell {
    border: 1px solid black;
    aspect-ratio: 1;
    background-color: linen;
    padding: 20px;
    cursor: pointer;
    }

.grid-cell:hover {
    background-color: #89CFF0;
    transition-duration: 5ms;
}

.joe-cell {
    content: url(images/test-img.png);
    width: 100%;
}

.carole-cell {
    content: url(images/carole-test-img.jpeg);
    width: 100%;
}

.greyout-cell {
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}


/* Tic tac Tiger King */
/* Joe Exotic vs Carole Baskin */
/* CB win state - Great job, you cool cats and kittens. JE - I'm never going to financially recover from this */
/* JE win state -  */
/* Instead of noughts & crosses - joe and carole's heads. Or 2 types of tigers?  */
/* slashy font */
/* sound effects?  */

/* Need to add pale background behind grid so more space for traditional noughts crosss look?  */